SECRET=MIICXQIBAAKBgQCaAjaz2W7AbStxcT9/1tEBMGKoIOX0hjD0aqstxjXIsDkGZ14PcmQyc+PZSgaTugq4kinAiNhDOB8srx1DI0tAj/qQXIstIe2oDKKK7S6ushwU1YtbPyxb9f0QUK1FI5vpk4TmowXQSBBappBWp2TkYp2c76tZSlAmrSm0eFFAtwIDAQABAoGAXYL0lhVy8vIWi8YYqVXVCCTJ8o4vMl78gJv4Hk4YwCeIKIRBD54EisHlWj1havdupQ1Svq4Yqg/8ldQqL2bRvIkikWfIUEJn40r9rxj9oEt6pS+exvEw6dkrCJ51DdxBIitQBqx1Yr5VQI3ZrFc1VEN+m9N6m9QB0CKYJDqM+fkCQQDmZ8MtmY0i+xaiyK6SCpIAlgs7dfB6TH0IoozuDpautaypi01sfL9aukmXaO/P0xKbqNxC1iIXoF0nkWzDqtm9AkEAqx3kaWes9fWTBcgDpW87V0pliCxx05nqOTc4t6AC2LmMsLr1JelR2otph3fHLm8df4ctwel3NI38Wuh91Lf5gwJBAJGmZG6uE9daLMwI2ro9bmBqeX1EKBnXwm6z+yz+EekttZGUGwSKs5iSDLVnQ7n371pxW5Pws6qF2H2L49qpZW0CQBgSyIObtlWUCu8RSJIJqAuLx+T0e78NNEqAXlZXCI986zIh20NOI9nfKyWH0FnUAA5k8icJtV+LailP9APtLgkCQQCIR1kZl94Re1GSlraab0vm3+fQUP7dcilQp1aJv8QAtV+bFMPycoZsCUhKmfvV+dXrpwznslWqHV0crkHkzqph
MONGODB_URL="mongodb://localhost:27017/reprograma"