SECRET=MIICXAIBAAKBgQClTW5MOD2rIE702wyrjbS/JjskUGoNfsuojDQyK9C93BRvqr/IZInesKG7FsCr6e5wyxK+0inWBo2wQHji6k3jrs/XZ3sh/FgGect6lYBdHZqf0AP1ZTmyiZIqCgDsJLL7O1LKJrlbglDY1kirx8ixv3uOXn0nLjP5wp/c0S5fTQIDAQABAoGBAI7EuJ21+XVCe085ndDRnCl4AJ6VoXM0bvuM1Ev80dYZLcFgbTHLu9QNJDJtLU2NxvW+Ptt2stF6aYevt3jsuwWf/Ig1CuJJmTKMXJKdfYIFdHC+xI2Ex4jD48GceONy+3B8nAxp/e/YTMXDFxGy+vMs4qpdeYmCmG2PruZePmL1AkEA+UP0KJnuNb7MqYlbcNayXrfbJa6N3FphQ7donDTJ/0xSuqYyrR61ydceL6xwFmPDmKT76vxFf1VlkYjtdwsjEwJBAKnEvx2Pcqqp+jQNPx01cIilrJ8hJJw/WcKWyScWOHY6KVdkkAfJvR2YrYfwGoXlcDnjfOQFM/8DMbV2lydaYB8CQDuM4YLlq4RJjgme2CqwEDMSx5dMCXYwXXZZFfPjpLKKYGVZGVhEsveCniKTlr+ym+MW31x3Yn8WPsqzJNBA5+MCQHwZcWdHbBfrZxXTtRZB8UBCc3xjeuKowJGpLePfr2hlPcE/prW6t/7Bk+ByGMFWJgJ7E9mPICJDEHxI81d2DhsCQF/sDwiErqDiqoZxF2bE0Cz1ezlh05kfKRvPohro49eG0V3qxJyjtQv+o/GoWR6kgJaeQX+XAtvxxtGaj6J3PMU=
MONGODB_URL= "mongodb://localhost:27017/reprograma"